.circulos {
  aspect-ratio: 1/1;
}

.bg-image {
  position: relative;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
  background-size: cover;
  background-position: center;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-image > * {
  position: relative;
  z-index: 2;
}